# Backend Dependencies
fastapi==0.100.0
uvicorn[standard]
pydantic
Jinja2
aiofiles  # Often needed for static file serving in FastAPI

# Testing Dependencies
pytest
requests
allure-pytest

# UI Automation
# We use pytest-playwright instead of just playwright to get the 'page' fixture automatically
pytest-playwright